<button ng-click="newPage()">New</button>

<button ng-click="addPortfolio()" ng-show="editors.editors">Add Portfolio</button>

<button style="margin:10px;" ng-click="addWidget($event)">
  Summary
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Risk
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Returns
</button>

<div>
  <tabset>
    <tab ng-repeat="editor in editors.editors track by $index" heading="{{editor.name}}"
         active="editor.active" disabled="editor.disabled">

      <tabset>
        <tab ng-repeat="page in editor.pages track by $index" heading="{{page.name}}"
             active="page.active" disabled="page.disabled">
          <div class="col-md-12">
            <table class="widgetTable" style="width:100%">
              <!--<tr>
                <th style="width:300px">Portfolio</th>
                <th style="width:300px">2012 Portfolio</th>
              </tr>-->
              <tbody>
              <tr>
                <th></th>
                <th ng-repeat="column in page.columnData">
                  {{column.name}}
                  <button ng-click="configPortfolio(column)">*</button>
                  <button ng-click="removePortfolio(column)">x</button>
                </th>
              </tr>
              <tr ng-repeat="row in page.flatRows track by $index" style="height:20px;">
                <td ng-switch on="row.type">
                  <div ng-switch-when="header" style="background-color:#6699FF;font-weight: bold;">
                    <span>
                      {{row.data[0]}}
                      <button ng-click="configWidget(widget)">*</button>
                      <button ng-click="removeWidget(widget)">x</button>
                    </span>
                  </div>
                  <div ng-switch-default>
                    {{row.data[0]}}
                  </div>
                </td>
                <td ng-repeat="data in row.data.slice(1) track by $index">
                  <div ng-switch on="row.type">
                    <div ng-switch-when="text">
                      {{data}}
                    </div>
                    <div ng-switch-when="bar">
                      <highchart config="data"></highchart>
                    </div>
                    <div ng-switch-when="pie">
                      <highchart config="data"></highchart>
                    </div>
                    <div ng-switch-default>Not Supported</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </tab>
      </tabset>

    </tab>
  </tabset>


</div>
