<button ng-click="showDemo()">Demo</button>

<button ng-click="addPortfolio()">Add Portfolio</button>

<button style="margin:10px;" ng-click="addWidget($event)">
  Summary
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Risk
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Returns
</button>

<div>
  <tabset>
    <tab ng-repeat="editor in editors.editors track by $index" heading="{{editor.name}}"
         active="editor.active" disabled="editor.disabled">

      <tabset>
        <tab ng-repeat="page in editor.pages track by $index" heading="{{page.name}}"
             active="page.active" disabled="page.disabled">
          <div class="col-md-12">
            <table class="widgetTable" style="width:100%">
              <!--<tr>
                <th style="width:300px">Portfolio</th>
                <th style="width:300px">2012 Portfolio</th>
              </tr>-->
              <tbody>
              <tr>
                <th></th>
                <th ng-repeat="column in page.columnData">
                  {{column}}
                </th>
              </tr>
              <tr ng-repeat="row in page.flatRows track by $index" >
                <td >{{row.data[0]}}</td>
                <td ng-repeat="data in row.data.slice(1) track by $index" style="width:350px;">
                  <div ng-switch on="row.type">
                    <div ng-switch-when="text">
                      {{data}}
                    </div>
                    <div ng-switch-when="header">
                      {{data}}
                    </div>
                    <div ng-switch-when="bar">
                      <highchart config="data"></highchart>
                    </div>
                    <div ng-switch-when="pie">
                      <highchart config="data"></highchart>
                    </div>
                    <div ng-switch-default>Not Supported</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </tab>
      </tabset>

    </tab>
  </tabset>


</div>
