<button ng-click="addPortfolio()">Add Portfolio</button>

<button style="margin:10px;" ng-click="addWidget($event)">
  Summary
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Risk
</button>
<button style="margin:10px;" ng-click="addWidget($event)">
  Returns
</button>

<div>
  <div ng-repeat="editor in editors.editors">
    {{editor.name}}
    <div ng-repeat="page in editor.pages">
      {{page.name}}
      <div class="row col-md-12">
        <table class="widgetTable">
          <tr ng-repeat="widgetRow in page.widgetRows track by $index">
            <td ng-repeat="widget in widgetRow.widgets track by $index">
              {{widget.name}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
